

    <div class="col-md-8 col-md-offset-2 loginDiv">
      <h1> Welcome to foodies</h1>

      <form  (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text"     name="email" type="email"  [ngModel]="loginForm.email" class="form-control"/>
        
          <label for="password">Password:</label>
          <input type="password" name='password' [ngModel]="loginForm.password"  class="form-control" />
         
      
      </div>
        <br>
        <button type="submit" class="btn btn-primary col-md-8 col-md-offset-2"  >Log-in</button>
      </form>

    </div>

