<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(recipe)" #recipe="ngForm">
        <div class="from-group">
            <label for="title">Recipe Name:</label>
            <input type="text" name="title" id="title" [ngModel]="recipe.title" class="form-control" required>

            <label for="description">Recipe Description:</label>
            <input type="text" name="description" id="description" [(ngModel)]="recipe.description" class="form-control" required>

            <h5>Ingredients:</h5>
            <div>
                <div>
                    <label class='ingridentP' for="ingredients.ingredientName">Ingredients:</label>
                    <input type="text" name="name"  class="form-control Ingredient" [ngModel]="recipe?.ingredients.ingredientName" required>
                    <label class='ingridentP' for="ingredients.ingredientAmount">Amount:</label>
                    <input type="number" name="amount" class="form-control IngredientAmount" [ngModel]="recipe?.ingredients.ingredientAmount" required> grams
                </div>
            </div>
            <label for="ingredients">instructions:</label>
            <textarea name="" id="" cols="30" class='instructions'  [ngModel]="recipe.instructions" rows="10"></textarea>
            <br>
        </div>
            <button type="submit" class='btn btn-primary'>Add Recipe</button>
    </form>
    </div>