.Ingredient {
    width: 40%;
    display: inline-block;
}

.IngredientAmount {
    width: 10%;
    display: inline-block;
}

.ingridentP {
    margin-left: 15px;
}

p {
    display: inline-block;
}

.instructions {
    margin: 0px;
    width: 484px;
    height: 163px;
}

.layout{
    width: 70%;
    margin-left: 15%;
} 